<div>
  <mat-card class="example-card">
    <div style=" height: 350px; overflow: hidden;">
      <img mat-card-image src="{{championship.banner}}" class="" alt="Alt">
    </div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>{{championship.name}}</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{championship.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-list>
    <mat-list-item *ngFor="let match of championship.matches">
      <mat-icon matListIcon>info</mat-icon>
      <h3 matLine> <span> {{match.local.name}} {{match.localGoal}}</span> 
        <br> <span> {{match.visit.name}} {{match.localGoal}}</span> </h3>
      <p matLine>
        <span class="demo-2">{{match.matchDate | date: 'dd/MM/yyyy'}} </span>
      </p>
    </mat-list-item>
  </mat-list>
</div>
