<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    --- FAVORITES ---------
    <br> ---- CHAMPIONSHIPS ----
    <mat-list>
      <mat-list-item *ngFor="let item of championships">{{item.name}}</mat-list-item>
    </mat-list>
    <br> ---- TEAMS ------------
    <mat-list>
      <mat-list-item *ngFor="let item of teams">{{item.name}}</mat-list-item>
    </mat-list>
    <br> ---- PLAYERS ----------
    <mat-list>
      <mat-list-item *ngFor="let item of players">{{item.name}}</mat-list-item>
    </mat-list>
    <br>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-button-toggle (click)="sidenav.toggle()">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
